@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
   font-family: 'fuentelol';
   src: url(../fonts/BeaufortforLOL-Bold.otf);
   font-weight: bolder;
   font-style: normal;

}

@font-face {
   font-family: 'fuentelol2';
   src: url(../fonts/BeaufortforLOL-Italic.otf);
   font-weight: bolder;
   font-style: normal;

}

@font-face {
   font-family: 'fuentelol3';
   src: url(../fonts/BeaufortforLOL-Medium.otf);
   font-weight: bolder;
   font-style: normal;

}


body {
   background-color: lightsteelblue;
}

.bg-1 {
   background-color: #ff0000;
}

h1 {
   font-family: 'fuentelol';
}

.fuente2 {
   font-family: 'fuentelol2';
}

p {
   font-family: 'Montserrat', sans-serif;
   font-weight: 300;
}

h6 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
}

.fuente3 {
   font-family: 'fuentelol3';
}
.card-builds {
   width: 18rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   .card-builds {
      width: 100%;
   }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .card-builds {
      width: 100%;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   .card-builds {
      width: 25rem;
   }
} 